Simple SaaS cash flow analysis

<table id="input">
  <tr>
    <td colspan=2>Input variables</td>
  </tr>
  <tr>
    <td>Average Monthly Payment</td>
    <td>$600</td>
  </tr>
  <tr>
    <td>Gross Margin %</td>
    <td>80</td>
  </tr>
  <tr>
    <td>CAC (Cost to Acquire a Customer)</td>
    <td>$1000</td>
  </tr>
  <tr>
    <td>Monthly Churn Rate</td>
    <td>N/A</td>
  </tr>
  <tr>
    <td>Month 1 - no of new customers</td>
    <td>?</td>
  </tr>
  <tr>
    <td>Monthly growth rate for new customers</td>
    <td>?</td>
  </tr>
</table>
